{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}

<h1>Modifier l'article n° {{ article.id }}</h1>

{{ form_start (form) }}
{{ form_widget (form) }}

<button class="btn">Modifier l'article</button>

{{ form_end (form) }}

{% endblock %}
